<div class="main-container">
  <div class="login-container">
    <img src="./assets/KeepieUppie.gif" alt="Image intégrée" class="embedded-image">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="email">Username</label>
        <input type="text" formControlName="email" id="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" id="password" required>
      </div>
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
    <p class="signup-prompt">
      Pas encore de compte ? <a routerLink="/signup">Inscrivez-vous</a>
    </p>
  </div>
