<div class="signup-container">
  <img src="./assets/pngegg.png" alt="Image descriptive" class="signup-image">
  <h2>Inscription</h2>
    <form (ngSubmit)="onSignup()">
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" name="username" [(ngModel)]="user.username" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
      </div>
      <button type="submit">S'inscrire</button>
    </form>
  </div>
  
