.home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4caf4f00;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .left-content {
    flex: 1;
    padding-right: 20px;
  }
  
  .right-content {
    flex: 1;
    transform: perspective(20000px) rotateY(-20deg); /* Incliner l'image en 3D avec une perspective plus intense */
  }
  
  .app-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .app-description {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .log-button {
    background-color: #0db33f;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .log-button:hover {
    background-color: #0056b3;
  }
  
  .right-content img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: rotateY(20deg); /* Incliner l'image dans l'autre direction avec une perspective plus intense */
    transition: transform 0.3s ease;
  }
  
  .right-content img:hover {
    transform: rotateY(0deg);
  }
  