<div class="home-container">
    <div class="left-content">
      <h1 class="app-title">Découvrez l'expérience ultime de vote pour les amateurs de football ! Choisissez vos joueurs préférés, donnez-leur votre soutien et participez à l'élection des légendes du football. Rejoignez-nous dans cette aventure passionnante où chaque vote compte.</h1>
      <p class="app-description">Votez pour votre joueur de football préféré.</p>
      <button class="log-button" (click)="redirectToLogPage()">Accéder à la Page de Log</button>
    </div>
    <div class="right-content">
      <img src="./assets/caf.jpg" alt="Image de droite">
    </div>
  </div>
  